BOT_TOKEN=your_bot_token_here
ADMIN_IDS=your_admin_ids_here
MANDATORY_CHATS_IDS=your_mandatory_chat_ids_here
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
